*.idea
venv
agents/cache
*.pyc

*.cypher

backend/agents/crud_agent/test_crud.py
backend/broker/basic_login.json

./export_data.py

backend/agents/crud_agent/create_scripts
backend/agents/crud_agent/read_queries
