.button{
    transition-duration: 0.5s;
    padding: 1em 4em 1em 4em;
    width: max-content;
    display: block;
    font-size: larger;
    background-color: #001A76;
    border-radius: 34px;
    margin: 0.5em;
    border: #001A76 solid 3px;
    color: white;
    font-weight: bold;
}

.button:hover{
    transition-duration: 0.5s;
    cursor:grab;
    color: #001A76;
    background-color: transparent;
}
