.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    text-align: center;
}

.number {
    display: flex;
    width: 2em;
    height: 2em;
    background-color: #001A76;
    color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;

}

.row p {
    margin-left: 1em;
}